/* body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  background-color: transparent;
} */

.modal input[type="text"],
.modal input[type="password"] {
  width: 90%;
  padding: 12px 20px;
  margin: 8px 5px;
  display: inline-block;
  border: 1px solid #edde37;
  box-sizing: border-box;
}
.modal button {
  background-color: #f1c40f;
  color: white;
  padding: 14px 20px;
  margin: 8px 5px;
  border: none;
  cursor: pointer;
  width: 90%;
}

.modal button:hover {
  opacity: 0.8;
}

.container {
  padding: 16px;
}
.container2 {
  padding: 16px;
}
span.psw {
  float: right;
}
span.ra {
  float: left;
  padding-top: 40px;
  padding-left: 70px;
}
.modal {
  position: relative;
  width: 400px;
  height: 440px;
  background-color: white;
  border: 6px solid #41360b;
  border-radius: 2%;
  margin-top: 100px;
}
h2 {
  text-align: center;
}
